ul {
    margin: 1em;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    inset: unset;
}

img {
    width: 128px;
    height: auto;
    margin: 1em;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 20px rgba(255,255,255,1);
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.about-div {
    display: flex;
    margin: 1em;
    justify-content: space-evenly;
}