@page "/about"

<h1>About This Website</h1>

<section class="container">
    <span>
        <h4>This website is designed specifically to work with project BF-BMX</h4>
        <ul>
            <li>BF-BMX and BF-BMX Reports are (c) Jon Rumsey 2024</li>
            <li>Version: 1.4.6 Dev Preview</li>
            <li>Author: <a href="https://github.com/nojronatron">K7RMZ</a></li>
            <li>Source: <a href="https://github.com/nojronatron/BF-BMX">BF-BMX on GitHub</a></li>
            <li>License: <a href="https://github.com/nojronatron/BF-BMX/blob/main/LICENSE">GNU GPL V.3 License</a></li>
        </ul>
    </span>
    <span>
        <image src="/images/jrsoftware-logo-128x128.png" alt="Copyright 2024 JR Software" />
    </span>
</section>
@code {

}
