@page "/about"

<h1>BF-BMX Reports Web App</h1>

<section class="about-container">
    <div class="about-div">
        <ul>
            <li>BF-BMX and BF-BMX Reports are &copy; Jon Rumsey 2025</li>
            <li>Version: 2.0.0</li>
            <li>Published: 26-June-2025</li>
            <li>Author: <a href="https://github.com/nojronatron"
                target="_blank">GitHub Nojronatron (Jon Rumsey)</a></li>
            <li>Source: <a href="https://github.com/nojronatron/BF-BMX"
                target="_blank">BF-BMX on GitHub</a></li>
            <li>License: <a href="https://github.com/nojronatron/BF-BMX/blob/main/LICENSE"
                target="_blank">GNU GPL V.3 License</a></li>
        </ul>
        <image src="/images/jrsoftware-logo-128x128.png" alt="Copyright 2025 JR Software" />
    </div>
</section>
