/*body {
    background-color: rgba(220,220,220,.6);
}
*/

.query-section {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid gray;
}
.overall-content {
    display:flex;
    flex-direction:column;
    padding: 1em;
    border: 1px solid gray;
}

.overall-stats-title {
    text-align: center;
}

.stat-section-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
}

.stat-title {
    text-align: center;
    font-weight: 600;
}

.stat-value {
    text-align: center;
}

.topline-container {
    display:flex;
    justify-content: center;
}

.statistics-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 14em;
}
}

.wl-id-container {
    min-width: 14em;
    background: var(--rgba-lightyellow-60);
}

.wl-datestamps-container {
    min-width: 16em;
    background: var(--rgba-lightgreen-60);
}

.uniquebib-count-container {
    min-width: 16em;
    background: var(--rgba-midblue-60);
}

.calc-pop-container {
    min-width: 16em;
    background: var(--rgba-darkgreen-30);
}

.bibs-seen-unknown {
    min-width: 12em;
    background: var(--rgba-orangy-60);
}

.bibs-reported-on {
    min-width: 12em;
    background: var(--rgba-midblue-60);
}

.no-wl-messages {
    color: var(--rgba-orangy);
    font-weight: 700;
    font-size: 1.6em;
    padding: .2em .8em;
}