h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

.bib-stat-byline {
    text-align: center;
    font-size: 1.1em;
}

.overall-content {
    display: flex;
    border: solid 1px grey;
    margin-top: 1em;
    margin-bottom: 1em;
}

.overall-stats {
    background: rgba(0,240,255,.4);
    padding: 1em;
    flex: 1;
    text-align: center;
}

.statistic-title {
    text-align: center;
    font-weight: 600;
}

.unknown-data {
    display: flex;
    flex-direction: column;
    background: orange;
    padding: 1em;
    flex: 1;
}

.event-specific-parent {
    display: flex;
    flex-direction: column;
    margin: 0.6em 0em;
}

.bf-bibs-seen {
    background: rgba(250,250,0,.4);
    border: 1px solid grey;
    padding: 1em;
    margin: .6em 0em;
}

.lf-bibs-seen {
    background: rgba(0,240,255,.4);
    border: 1px solid grey;
    padding: 1em;
    margin: .6em 0em;
}

.def-container {
    margin: 1em;
}

.def-heading {
    margin-top: 1em;
    margin-bottom: 1em;
}
