@page "/"

<PageTitle>BF-BMX Reports Server</PageTitle>

<h1>Welcome!</h1>

<section>
    <h2>What is this?</h2>
    <p>This application provides access to reports available by a specially crafted version of the BF-BMX Tool.</p>
    <p>Some reports require input, others simply display data related to the report name.</p>
    <p>On occasion, depending on the report type and how much data is in the BF-BMX database, one or more reports might be empty. Simply try them again after more data has been loaded in.</p>
    <p>To confirm more data has been loaded, open the <a href="statistics">Statistics</a> page and compare the number of records to the last time you checked.</p>
</section>

<section>
    <h3>How to use this site</h3>
    <p>Use the Navigation Bar on the left to select a report type.</p>
    <p>To open this page in the future, set a Favorite to this page.</p>
    <p>The BFBMX.Reports service must be running for this page to appear.</p>
    <p>If the BFBMX Web Server is not online, none of these reports will function.</p>
    <p>Simply close this browser window when done viewing reports.</p>
</section>
