<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BFBMX.Reports</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bibstatistics">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Statistics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bybibnumber">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bib ID
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="byaidstation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Aid Station
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="droppedbibs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dropped Bibs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allbibsreport">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Bibs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="serverinfo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Server Info
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>

    </nav>
</div>

